<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         version="3.1">
    
    <servlet>
        <servlet-name>EvaluateServlet</servlet-name>
        <servlet-class>com.example.servlet.EvaluateServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>EvaluateServlet</servlet-name>
        <url-pattern>/evaluate</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>form.jsp</welcome-file>
    </welcome-file-list>

</web-app>
