<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" version="3.0">

    <servlet>
        <servlet-name>AccountServlet</servlet-name>
        <servlet-class>bankaccount.AccountServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AccountServlet</servlet-name>
        <url-pattern>/account</url-pattern>
    </servlet-mapping>

</web-app>
